.product_Category-section {
    margin-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
}

.product_Category-category-title {
    font-size: 38px;
    color: var(--app-primary-color);
    margin-bottom: 20px;
    text-align: center;
    font-family: "AlimamaFangYuan", "SmileySans", sans-serif;
    font-weight: 900;
}

@media screen and (max-width: 1000px) {
    .product_Category-category-title {
        font-size: 24px; 
        margin-bottom: 16px;
    }
}

.product_Category-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px; 
    padding: 16px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .product_Category-containers {
        gap: 8px;
        padding: 8px;
    }
}

.product_Category-card {
    box-sizing: border-box;
    display: flex;
    width: 400px;
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-slighly-deeper-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--admin-card-shadow);
    padding: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .product_Category-card {
        width: 42%;
        height: 280px;
        padding: 6px;
    }
}

.product_Category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px var(--admin-card-shadow);
}

.product_Category-image-container {
    width: 100%;
}

.product_Category-image {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1000px) {
    .product_Category-image {
        height: 130px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

.product_Category-info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    text-align: center;
    color: var(--app-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .product_Category-info {
        padding: 0;
    }
}

.product_Category-title {
    font-family: 'AlimamaFangYuan', sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin: 0;
    color: var(--app-text-color);
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .product_Category-title {
        font-size: 16px;
    }
}

.product_Category-description {
    font-family: 'YouSheYuFeiTeJianKangTi', sans-serif;
    margin: 10px 0;
    color: var(--app-text-color);
    text-align: left; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    line-height: 1.5; 
    width: 100%;
    box-sizing: border-box; 
    text-align: justify; 
}

.product_Category-description span:first-child {
    font-size: 30px;
    color: var(--app-text-color);
}

.product_Category-description span:last-child {
    display: block;
    font-size: 20px;
    text-indent: 2em;
}

@media screen and (max-width: 1000px) {
    .product_Category-description span:first-child {
        font-size: 12px;
    }

    .product_Category-description span:last-child {
        font-size: 11px;
    }
}

.product_Category-price {
    font-family: 'YouSheYuFeiTeJianKangTi', sans-serif;
    font-size: 20px;
    margin: 0;
    color: var(--app-text-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

@media screen and (max-width: 1000px) {
    .product_Category-price {
        font-size: 12px;
        margin-bottom: 12px;
    }
}

.product_Category-not {
    font-family: "HongLeiXingShuJianTi", "AlimamaFangYuan", "SmileySans", sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    color: var(--app-text-color);
    width: 100%;
    text-align: center;
    text-decoration: none;
}
