.app_outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
    overflow: auto;
    scrollbar-width: none;
    /* 针对Firefox隐藏滚动条 */
    -ms-overflow-style: none;
    /* 针对IE和旧版Edge隐藏滚动条 */
}

.app_outer-container::-webkit-scrollbar {
    display: none;
}

.app_inner-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app_content {
    text-align: center;
    max-width: 600px;
}

.app_content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "YouSheYuFeiTeJianKangTi";
    color: var(--text-color);
}

.app_content p {
    font-size: 1.1rem;
    font-family: "YouSheYuFeiTeJianKangTi";
    color: var(--text-color);
}

.app_spline-container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px var(--contract-bg-color);
}

.app_fix-cover {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 180px;
    height: 100px;
    background: #000000;
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.app_fix-cover .app_color-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #00ff00, #0000ff, #4b0082, #8b00ff, #ff0000);
    background-size: 400% 400%;
    border-radius: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.app_fix-cover:hover .app_color-overlay {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* 移动端样式 */
@media (max-width: 768px) {
    .app_content h1 {
        font-size: 2rem;
    }

    .app_content p {
        font-size: 1rem;
    }

    .app_spline-container {
        max-width: 100%;
        height: 300px;
    }

    .app_fix-cover {
        width: 360px;
        height: 50px;
        bottom: 10px;
        right: 20px;
    }
}