/* From Uiverse.io by TemRevil */
.ael_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.ael_loading-wide {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ael_color {
    background-image: linear-gradient(95deg, #0000ff, #4b0082, #ff0000);
}

.ael_l1 {
    width: 15px;
    height: 65px;
    position: absolute;
    animation: ael_move-h 1.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

.ael_l2 {
    width: 15px;
    height: 60px;
    position: absolute;
    transform: rotate(90deg);
    animation: ael_move-v 1.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes ael_move-h {
    0% {
        top: 0;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 30%;
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}

@keyframes ael_move-v {
    0% {
        left: 0;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        left: 45%;
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

.ael_animation-effect-light {
    animation: ael_effect 0.2s 0.1s infinite linear;
}

.ael_animation-effect-light-d {
    animation: ael_effect 0.3s 0.2s infinite linear;
}

.ael_animation-effect-rot {
    animation: ael_rot 1.8s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

.ael_animation-effect-scale {
    animation: ael_scale 0.8s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes ael_effect {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ael_rot {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ael_scale {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.9;
    }

    100% {
        scale: 1;
    }
}

.ael_e1 {
    width: 1px;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 8%;
}

.ael_e2 {
    width: 60px;
    height: 1px;
    opacity: 0.8;
    position: absolute;
    top: 8%;
    left: 0;
}

.ael_e3 {
    position: absolute;
    top: 10%;
    left: 12%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: var(--link-hover-bg-color);
}

.ael_e4 {
    width: 1px;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    top: 90%;
    right: 10%;
}

.ael_e5 {
    width: 40px;
    height: 1px;
    opacity: 0.3;
    position: absolute;
    top: 100%;
    right: 0;
}

.ael_e6 {
    position: absolute;
    top: 100%;
    right: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: var(--link-hover-bg-color);
}

.ael_e7 {
    width: 1px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(45deg);
    animation: ael_height 1s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes ael_height {
    0% {
        bottom: 0%;
        left: 0%;
        height: 0px;
    }

    25% {
        height: 90px;
    }

    50% {
        bottom: 100%;
        left: 100%;
        height: 90px;
    }

    75% {
        height: 0px;
    }

    100% {
        bottom: 0%;
        left: 0%;
        height: 0px;
    }
}

.ael_e8 {
    width: 20px;
    height: 1px;
    position: absolute;
    bottom: 50%;
    left: 0;
    animation: ael_width 1.5s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes ael_width {
    0% {
        left: 0%;
        width: 0px;
    }

    50% {
        left: 100%;
        width: 90px;
    }

    100% {
        left: 0%;
        width: 0px;
    }
}